.manage {
  width: 100vw;
  /* height: 100vh; */
  /* background-color: #daf0fa; */
  /* background-color: #fbfcfd; */
}
.mcontainer{
  display: flex;
  justify-content: space-between;
  /* background-color: #daf0fa; */
}
.mcontainer_box{
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fbfcfd;

}
body{
  background-color: #fbfcfd;
}