/* footer样式 */
.footer {
  height: 200px;
  margin-top: 100px;
  display: flex;
   box-shadow: grey 2px 2px 2px 2px ;
}
.footericon {
  width: 160px !important;
  height: 90px !important;
  /* display: block; */
  /* margin: 110px 0px 110px 500px; */
}