.footer {
  margin-top: 40px;
  box-shadow: 0 -10px 30px rgb(235, 235, 235);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 150px;
  padding: 20px 200px;
  width: 100vw;
}
.imgWrapper {
  height: 100%;
}
.footericon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.qrCode {
  display: flex;
  align-items: center;
  width: 200px;
  text-align: center;
}
.img {
  flex-grow: 0;
  width: 78px;
  height: 110px;
}
.us {
  margin-right: 20px;
}
.connectWrapper {

}
.conect {

}
.phone {

}