.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #fbfcfd;
  padding: 0;
    box-shadow:2px 2px 5px grey;
}
.icon {
  width: 140px;
  height: 100px;
  margin: auto 20px;
}
