#page {
  /* width: 75vw; */
  /* height: 100vh; */
  /* margin: auto; */
  background-color: #fbfcfd;
}
#page1 {
  width: 75vw;
  /* height: 100vh; */
  margin: auto;
  background-color: #fbfcfd;
}
.video {
text-align: center;
}
.controls{
  width: 1000px;
  height: 600px;
}