#page{
    /* width: 75vw; */
  /* height: auto; */
  margin: auto;
  background-color: #fbfcfd;
}
#page1{
    width: 75vw;
  /* height: 100vh; */
  margin: auto;
  /* background-color: #fbfcfd; */
}
.pagination{
  margin: 20px 0;
}
.title{
  margin-top: 30px;
  margin-left: 30px;
 font-size: 20px;
}
.comment{
  margin-bottom: 20px;
}
body{
  background-color: #fbfcfd;
}